/* -- Utilities 
    Classes that have a single purpose and can be used
    by a variety of elements.
 */

/* -- Layout -- */
.flow * + * {
  /* value set as needed, 1em is the default */
  margin-top: var(--flow-space, 1em);
}

.wrapper {
  max-width: 62.5rem; /* 1000px */
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--rs-20);
  padding-right: var(--rs-20);
}

/* -- Visual -- */
.featured-content {
  font-style: italic;
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;

  overflow: hidden;
}

@media (min-width: 48em) {
  .columns {
    column-count: 2;
  }
}
